*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

#title{
    margin-top: 30px;
    text-align: center;
    color:black;
}

#description {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color:white;
    padding-top:5px;
    padding-bottom:20px;
}

h1{
    font-size: 4rem;
    margin-bottom: 0;
}

h1{
    display: block;
    font-size: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color:#333;
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #eee;
}

#img-div{
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
}

#image{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

#img-caption{
    font-size:15px;
    text-align: center;
}

section{
    display: inline-block;
    color: #333;
    max-width: 545px;
    margin: 0 auto;
}

#headline{
    text-align: center;
    margin: 40px 0;
    font-size:19px;
}

ul{
    margin-left: 40px;
    text-align: left;
    margin-bottom: 50px;
}

ul > li{
    font-size: 15px;
    padding:10px;
}

blockquote{
    text-align: left;
    font-style: italic;
    font-size:15px;
}

tribute-link{
    color: #477ca7;
}

h3{
    font-size: 15px;
}

@media only screen and (max-width: 900px) {
    form{
        max-width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    form{
        max-width: 100%;
    }
}


